
<!-- start: Main Menu -->
<div id="sidebar-left" class="span2">
	<div class="nav-collapse sidebar-nav">
		<ul class="nav nav-tabs nav-stacked main-menu">
		    <li><a href="/"><i class="icon-bar-chart"></i><span class="hidden-tablet"> 系统主页 </span></a></li>
            <li><a href="#" class="dropmenu"><i class="icon-comments-alt"></i><span class="hidden-tablet">消息管理</span></a>
                <ul >
                    <li>
                        <a class="submenu" href="/Message/Index"><i class="icon-envelope"></i> 查看所有消息 </a>
                        <a class="submenu" href="/Message/Create"><i class="icon-edit"></i> 编写新消息 </a>
                    </li>
                </ul>
            </li>
			
			
     <li><a href="#" class="dropmenu"><i class="icon-eye-open" ></i><span class="hidden-tablet">预警信息管理</span></a>
                <ul>
                    <li>
                        <a class="submenu" href="/Warning/Index"><i class="icon-bullhorn"></i> 查看所有预警信息 </a>
                        <a class="submenu" href="/Warning/Create"><i class="icon-edit"></i> 编写新预警信息 </a>
                    </li>
                </ul>
			</li>
      <li>
        <a href="/DailyReport/ProductionReport" >
          <i class="icon-home"></i>
          <span class="hidden-tablet">生产日报</span>
        </a>
      </li>
      <li>
        <a href="/DailyReport/CustomerReport" >
          <i class="icon-user"></i>
          <span class="hidden-tablet">客服日报</span>
        </a>
      </li>
      <li>
        <a href="/DailyReport/KnowledgeFiles">
          <i class="icon-book"></i>
          <span class="hidden-tablet">知识库</span>
        </a>
      </li>
		</ul>
	</div>
</div>
			<!-- end: Main Menu -->
<a id="sidebar-switch" class="open">
  <i class="white icon-reorder"></i>
</a>