@model ReliMobileAdmin.Models.MessageViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">

    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="icon-edit"></i> 编写新消息 </h2>
            </div>

            <div class="box-content">
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label"> 请选择联系人 </label>
                        <div class="controls">
							<select data-rel="chosen">
									<optgroup label="生产部">
										<option>陈昭</option>
										<option>卢新</option>
									</optgroup>
									<optgroup label="其他">
										<option>张拓</option>
									</optgroup>
							</select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"> 消息内容 </label>
                        <div class="controls">
                            <textarea class="diss-form span8" placeholder="请输入您要发送的消息" rows="8"></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary btn-large span2">发送</button>
                        <button class="btn  btn-large btn-inverse span2">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>