
@model IEnumerable<ReliMobileAdmin.Models.Warning>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
    <div class="row-fluid">
    <h2>全部预警信息</h2>
    </div>
    <div class="row-fluid">
        <div class="box backgroundColor white">
            <table class="table table-bordered">
				<thead>
				<th>预警时间</th>
				<th>标题</th>
				<th>内容</th>
				</thead>
				<tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ReportedAt</td>
                        <td>@item.warningTitle</td>
                        <td>@item.warningContent</td>
                    </tr>
                }
				</tbody>
            </table>
        </div>
    </div>
</div>
