
@model IEnumerable<ReliMobileAdmin.Models.Warning>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
    <div class="row-fluid">
    <h2>全部预警信息</h2>
    </div>
    <div class="row-fluid">
        <div class="discussions">
            <div class="span12">
            <table class="table">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ReportedAt</td>
                        <td>@item.warningTitle</td>
                        <td>@item.warningContent</td>
                    </tr>
                }
            </table>
            </div>
        </div>
    </div>
</div>
