@model ReliMobileAdmin.Models.HomeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
    <div class="span12">
		<div class="row-fluid">
			<div class="smallstat box span6">
				<i class="icon-user orange"></i>
				<span class="title"> 新消息 </span>
				<span class="value"> @Model.NumOfNewMessage </span>
			</div><!--box-->
			<div class=" smallstat box span6 " >
				<i class="icon-fire crimson"></i>
				<span class="title">  预警信息 </span>
				<span class="value highlightRed">  @Model.NumOfWarningMessages </span>
			</div>
		</div>
	</div>

    
</div>

<div class="row-fluid">	
				<div class="box span12">
					<div class="box-header">
						<h2><i class="icon-hand-up"></i>Quick Buttons</h2>
					</div>
					<div class="box-content">
						
						<a class="quick-button span3">
							<i class="icon-envelope"></i>
							<p>新消息</p>
							<span class="notification red">@Model.NumOfNewMessage</span>
						</a>
						<a class="quick-button span3">
							<i class="icon-fire"></i>
							<p>预警信息</p>
							<span class="notification blue">@Model.NumOfWarningMessages</span>
						</a>
						<a class="quick-button span3">
							<i class="icon-envelope"></i>
							<p>Messages</p>
						</a>
						<a class="quick-button span3">
							<i class="icon-calendar"></i>
							<p>Calendar</p>
							<span class="notification red">68</span>
						</a>
						<div class="clearfix"></div>
					</div>	
				</div><!--/span-->
				
			</div><!--/row-->